.App {
  text-align: center;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  background-color: #1B1B1B;
  height: 100%;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: #FFFFFF;
}

.pokeapp {
  height: 100%;
}

.poke-image {
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.poke-chain {
  height: 100%;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}

.bidoof-404 {
  height: 70px;
  width: 70px;
}

.poke-list {
  list-style: none;
}

.main {
  background-color: #1B1B1B;
}

.home {
  color: #FFFFFF;
  background-color: #1B1B1B;
  margin-top: 11em;
}

.type {
  color: #FFFFFF;
  background-color: #1B1B1B;
  margin-top: 2em;
}

.title1 {
  font-size: 6em;
  font-weight: 900;
}

.title2 {
  font-size: 5em;
  font-weight: 900;
}

.title3 {
  font-size: 4.5em;
  font-weight: 900;
}

.title4 {
  font-size: 2.5em;
  font-weight: 900;
}

.text1 {
  font-size: 2.3em;
  font-weight: 100;
}

.text2 {
  font-size: 2.3em;
}

.BtnLink {
  cursor: pointer;
}

.BtnLink:hover {
  opacity: 80%;
  cursor: pointer;
}

.calculateBtn {
  font-size: 2.3em;
}

.calculateBtn:hover {
  font-size: 2.3em;
  cursor: pointer;
  text-decoration: none;
}

.BtnLink:hover .lines {
  visibility: visible;
}

.lines {
  margin-top: 5%;
  background-color: #FFFFFF;
  visibility: hidden;
}


.MyNavbar {
  font-size: 1.3em;
}

.titlenavbar{
  font-size: 1.3em;
}

.textselect {
  font-size: 2em;
}

/* Types */

.Bug{
  color: #C0E11D;
}
.Dark{
  color: #51453C;
}
.Dragon{
  color: #6200EA;
}
.Electric{
  color: #FFFF00;
}
.Fairy{
  color: #FF6FDE;
}
.Fighting {
  color: #B42400;
}
.Fire {
  color: #FF9200;
}
.Flying{
  color: #9FA8DA;
}
.Ghost{
  color: #9575CD;
}
.Grass{
  color: #00D12F;
}
.Ground{
  color: #C4A96A;
}
.Ice{
  color: #18FFFF;
}
.Normal{
  color: #EFEBE9;
}
.Poison{
  color: #AA00FF;
}
.Psychic{
  color: #FF00C5;
}
.Rock{
  color: #A8814C;
}
.Steel{
  color: #9E9E9E;
}
.Water{
  color: #304FFE;
}
.None {
  display: none;
}

select {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  align-items: center;
}

input {
  background-color: #ffffff;
  width: 30vw;
  height: 7vh;
  border-radius: 10px;
}

/* Stats Bars */

.statBar {
  height: 30px;
  border-radius: 5px;
}

.BarRed {
  background-color: #B42400;
}

.BarDarkOrange {
  background-color: #FF4D00;
}

.BarOrange {
  background-color: #FFBB00;
}

.BarYellow {
  background-color:#DDFF00;
}

.BarGreen {
  background-color: #00D12F;
}

.BarBlue {
  background-color: #18FFFF;
}