.App {
  text-align: center;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  background-color: #1B1B1B;
  height: 100%;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: #FFFFFF;
}

.pokeapp {
  height: 100%;
}

.stats {
  height: 95%;
}

.full-height {
  height:100%;
}

.full-width {
  width:100%;
}

.MyNavbar {
  font-size: 1.3em;
  height: 10%;
  min-height: 50px;
}

.main {
  background-color: #1B1B1B;
}

.home {
  color: #FFFFFF;
  background-color: #1B1B1B;
  height: 75%;
  width: 100%;
}

.search {
  height: 90%;
}

.type {
  color: #FFFFFF;
  background-color: #1B1B1B;
  margin-top: 2em;
}

.poke-image {
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.poke-chain {
  height: 100%;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}

.search-engine {
  min-width: 150px;
  max-width: 400px;
  height: 7vh;
  min-height: 10px;
  max-height: 65px;
}

.bidoof-404 {
  height: auto;
  width: auto;
  max-width: 60px;
  max-height: 60px;
}

.poke-list {
  list-style: none;
}

.title1 {
  font-size:calc(30px + 4.5vw);
  font-weight: 900;
}

.title2 {
  font-size:calc(30px + 3vw);
  font-weight: 900;
}

.title3 {
  font-size: 4.5em;
  font-weight: 900;
}

.title4 {
  font-size:calc(25px + 1.5vw);
  font-weight: 900;
}

.texthint {
  font-size:calc(10px + 1vw);
  color: #666666;
}

.search-text {
  min-height: 100px;
  width: 100%;
}

.centered-text {
  text-align: center;
}

.text1 {
  font-size:calc(15px + 1.5vw);
  font-weight: 100;
}

.text2 {
  font-size: 2.3em;
}

.BtnLink {
  cursor: pointer;
  display: inline-block;
}

.BtnLink:hover {
  cursor: pointer;
}

.calculateBtn {
  font-size: 2.3em;
}

.calculateBtn:hover {
  font-size: 2.3em;
  cursor: pointer;
  text-decoration: none;
}

.lines {
  margin-top: 5%;
  background-color: #FFFFFF;
  width: auto;
}

.titlenavbar{
  font-size: 1.3em;
}

.textselect {
  font-size: 2em;
}

/* Types */

.Bug{
  color: #C0E11D;
}
.Dark{
  color: #51453C;
}
.Dragon{
  color: #6200EA;
}
.Electric{
  color: #FFFF00;
}
.Fairy{
  color: #FF6FDE;
}
.Fighting {
  color: #B42400;
}
.Fire {
  color: #FF9200;
}
.Flying{
  color: #9FA8DA;
}
.Ghost{
  color: #9575CD;
}
.Grass{
  color: #00D12F;
}
.Ground{
  color: #C4A96A;
}
.Ice{
  color: #18FFFF;
}
.Normal{
  color: #EFEBE9;
}
.Poison{
  color: #AA00FF;
}
.Psychic{
  color: #FF00C5;
}
.Rock{
  color: #A8814C;
}
.Steel{
  color: #9E9E9E;
}
.Water{
  color: #304FFE;
}
.None {
  display: none;
}

select {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  align-items: center;
}

input {
  background-color: #ffffff;
  width: 30vw;
  height: 7vh;
  border-radius: 10px;
}

/* Stats Bars */

.statBar {
  height: 30px;
  border-radius: 5px;
}

.BarRed {
  background-color: #B42400;
}

.BarDarkOrange {
  background-color: #FF4D00;
}

.BarOrange {
  background-color: #FFBB00;
}

.BarYellow {
  background-color:#DDFF00;
}

.BarGreen {
  background-color: #00D12F;
}

.BarBlue {
  background-color: #18FFFF;
}