.App {
  text-align: center;
  color: #FFFFFF;
  height: 100%;
}

.container-fluid {
  width: 100%;
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: #FFFFFF;
}

.nav-link {
  color: #FFFFFF !important;
}

.nav-link:hover {
  opacity: 0.7;
}

.pokeapp {
  height: 100%;
}

.stats {
  height: 95%;
}

.evolution {
  height: 95%;
}

.full-height {
  height:100%;
}

.full-width {
  width:100%;
}

.MyNavbar {
  font-size: 1.3em;
  height: 10%;
  min-height: 50px;
}

.search {
  min-width: 268px;
  /* width: calc(100% - 10px); */
}

.teambuilder {
  height: 90%;
}

.typecal {
  height: 90%;
}

.lastrow {
  min-height: 120px;
}

.results {
  height: 90%;
}

.type {
  height: 80%;
} 

.poke-image {
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.poke-chain {
  height: 100%;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}

.poke-builder {
  height: auto;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.search-engine {
  min-width: 150px;
  max-width: 400px;
  height: 7vh;
  min-height: 10px;
  max-height: 65px;
}

.search-teambuilder {
  min-width: 100px;
  max-width: 200px;
  height: 5vh;
  width: 10vw;
  min-height: 10px;
  max-height: 65px;
}

.bidoof-404 {
  height: auto;
  width: auto;
  max-width: 60px;
  max-height: 60px;
}

.poke-list {
  list-style: none;
}

.title1 {
  font-size:calc(30px + 4.5vw);
  font-weight: 900;
}

.title2 {
  font-size:calc(30px + 3vw);
  font-weight: 900;
}

.calctitle {
  font-size:calc(30px + 2vw);
  font-weight: 700;
}

.title3 {
  font-size:calc(30px + 1vw);
  font-weight: 700;
}

.title4 {
  font-size:calc(25px + 1.5vw);
  font-weight: 900;
}

.title5 {
  font-size:calc(20px + 1.3vw);
  font-weight: 900;
}

.pkmnNameTitle {
  font-size:calc(25px + 2.3vw);
  font-weight: 900;
}

.titletitle {
  font-size:calc(25px + 2.5vw);
  font-weight: 800;
}

.typetitle {
  font-size:calc(20px + 1.5vw);
  font-weight: 500;
  /* text-shadow: 2px 1px 0 #DCDCDC; */
}

.texthint {
  font-size:calc(10px + 1vw);
  color: #666666;
}

.search-text {
  min-height: 40px;
  width: 100%;
}

.builder-textdiv {
  min-height: calc(30px + 1vw);
  width: 100%;
}

.builder-text {
  font-size:calc(20px + 1vw);
  font-weight: 100;
  margin: 0;
}

.centered-text {
  text-align: center;
}

.text1 {
  font-size:calc(15px + 1.5vw);
  font-weight: 100;
}

.text2 {
  font-size:calc(25px + 1vw);
}

.text3 {
  font-size:calc(30px + 1vw);
  font-weight: 100;
}

.text4 {
  font-size:calc(20px + 1vw);
  font-weight: 100;
}

.text5 {
  font-size:calc(15px + 1vw);
  font-weight: 100;
}

.typetext {
  font-size:calc(20px + 0.5vw);
  font-weight: 700;
  /* text-shadow: 2px 1px 0 #DCDCDC; */
}

.hover:hover {
  opacity: 0.8;
  cursor: pointer;
}

.BtnLink {
  display: inline-block;
}

.BtnLink:hover {
  cursor: pointer;
}

.calculateBtn {
  font-size: 2.3em;
}

.calculateBtn:hover {
  font-size: 2.3em;
  cursor: pointer;
  text-decoration: none;
}

.lines {
  margin-top: 5%;
  background-color: #FFFFFF;
  width: auto;
}

.titlenavbar{
  font-size: 1.3em;
}

.textselect {
  font-size: 2em;
}

.types {
  margin: 0px 2% 0px 2%;
}

/* Types */

.Bug{
  color: #C0E11D;
}
.Dark{
  color: #51453C;
}
.Dragon{
  color: #6200EA;
}
.Electric{
  color: #FFFF00;
}
.Fairy{
  color: #FF6FDE;
}
.Fighting {
  color: #B42400;
}
.Fire {
  color: #FF9200;
}
.Flying{
  color: #9FA8DA;
}
.Ghost{
  color: #9575CD;
}
.Grass{
  color: #00D12F;
}
.Ground{
  color: #C4A96A;
}
.Ice{
  color: #18FFFF;
}
.Normal{
  color: #EFEBE9;
}
.Poison{
  color: #AA00FF;
}
.Psychic{
  color: #FF00C5;
}
.Rock{
  color: #A8814C;
}
.Steel{
  color: #9E9E9E;
}
.Water{
  color: #304FFE;
}
.None {
  display: none;
}

select {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  align-items: center;
}

input {
  background-color: #ffffff;
  width: 30vw;
  height: 7vh;
  border-radius: 10px;
}