::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #454545;
  border-radius: 10px;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0px; padding: 0px;
  min-width: 200px;
}
html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #121212;
  color: #FFFFFF;
  height: 100%; margin: 0px; padding: 0px;
}

code {
  font-family: 'Montserrat', sans-serif;
}
