/* .search {
    width: 30rem;
    margin: 10rem auto 2rem auto;
    text-align: right;
    position: relative;
  } */
  .search-box {
    min-width: 207px;
    max-width: 400px;
    height: 7vh;
    min-height: 10px;
    max-height: 65px;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.5rem;
    transition: width 0.3s;
  }
  .search-box:focus {
    outline: none;
    /* border: 4px solid #08a1b6; */
  }
  
  .search-div{
    max-height: 50px;
    text-align: right;
    position: relative;
    display: block;
    list-style: none;
    width: 100%;
  }

  ul.options {
    min-width: 200px;
    max-width: 400px;
    height: 7vh;
    min-height: 10px;
    max-height: 65px;
    display: block;
    list-style: none;
    transition: width 0.3s;
    position: relative;
    padding: 0;
  }
  
  ul.options li {
    color: #000;
    display: block;
    background: white;
    border-radius: 0px;
    font-size: 1rem;
    padding: 0.5rem;
    transition: width 0.3s;
  }
  ul.options li:hover {
    cursor: pointer;
    transition: 0.3s all;
    background: #ededed;
  }
  
  ul.options li.option-active {
    background: whitesmoke;
    font-size: 1rem;
    color: #03dac5;
  }
  .no-options {
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
  }
  